.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout-ad {
    width: 100%;
    
    margin-bottom: 10px;
}

.checkout-title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.no-item {
    padding: 5px;
    display: flex;

}

.no-item > div {
    padding-left: 30px;
}

.no-item > img {
    padding: 15px;
}

.no-item > div > p {
    padding-top: 5px;
}

.no-item > div > p > a {
    text-decoration: none;
}